$black: #0000;
$black-33: rgba(0, 0, 0, 0.33);
$black-100: rgba(0, 0, 0, 1);

:root {
  --primary: #fde8cd;
  --secondary: #433520;
  --tertiary: #00917c;
  --tertiary-10: rgba(0, 145, 124, 0.1);
  --tertiary-50: rgba(0, 145, 124, 0.5);

  font-family: "Tapestry", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: max(1.5vw, 14px);

  color-scheme: light dark;
  color: var(--secondary);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: unset;
}

:focus-visible {
  outline: var(--tertiary) outset 1px;
}

h1 {
  text-align: center;
  margin-bottom: unset;
}

.monofett {
  font-family: "Monofett", monospace;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
